<!DOCTYPE html>
<html lang="ja">
    <head>
       <meta charset="UTF-8" />
       <meta http-equiv="content-type" content="text/html charset=UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge" />
       <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <link rel="stylesheet" type="text/css" href="./table.css">
       <link rel="stylesheet" type="text/css" href="./index.css">
       <title>Node.js HTML表示</title>
   </head>
    <body>
        <div class="header">
			<a href="./home" id="back"><div class="backBtn"></div></a>
			<a href="./home" id="home"><div class="homeBtn"></div></a>
			<div class="logo"></div>
		</div>  
		<div class="namePlate">
			<div id="major" class="major"></div>
			<div id="grade" class="grade"></div>
			<div id="number" class="number"></div>
			<div id="name" class="name"></div>
		</div>
        <div class="attendPlate">
            <span class="innerHome">出席確認</span>
        </div>
        <div class="scroll-box" >
            <!-- class="attendBox" -->
        <table id="at-list-hedder" border="1" align="left" class="attendTable">
            <tr>
                <td>講義名</td>
                <td>第1回</td>
                <td>第2回</td>
                <td>第3回</td>
                <td>第4回</td>
                <td>第5回</td>
                <td>第6回</td>
                <td>第7回</td>
                <td>第8回</td>
                <td>第9回</td>
                <td>第10回</td>
                <td>第11回</td>
                <td>第12回</td>
                <td>第13回</td>
                <td>第14回</td>
                <td>第15回</td>
              </tr>
        </table>
        </div>
        <div class="footer"></div>
        <script>
            const lecture_names = {};
            const id = location.search.split('=')[1];
            function setURL() {
                //homeurlにデータ付与
                const home = document.getElementById("home");
                home.href="./home?id="+id; 
                //homeurlにデータ付与
                const home2 = document.getElementById("back");
                home2.href="./home?id="+id; 
            }
            async function fetchUser(){
                const user_url = 'http://localhost:1323/users/' + id[1]; //usersのJSON
                const response = await fetch(user_url);
                const json = await response.json();
                // url情報保持
                // divのid取得
                const major=document.getElementById('major');
                const grade=document.getElementById('grade');
                const number=document.getElementById('number');
                const name=document.getElementById('name');
                //loginした人のデータ表示
                major.innerText = json.major;
                grade.innerText = json.grade+"年";
                number.innerText = "学籍番号:"+json.user_id;
                name.innerText = json.name;
            }

            async function getLectures() {
                const rurl_lecture = 'http://localhost:1323/lectures';
                const promise_lectures = fetch(rurl_lecture);
                //fetch() のレスポンス（リクエストの結果）を then() メソッドで処理
                promise_lectures.then((response) => {
                    return response.json();
                })
                .then(function (json) {
                    for (var i = 0; i < json.length; i++) {
                        lecture_names[json[i].number] = json[i].name;
                    }
                });
            }
            
            async function getAttendances() {
                getLectures()
                const rurl='http://localhost:1323/attendances/'+id;
                const promise = fetch(rurl);
                //fetch() のレスポンス（リクエストの結果）を then() メソッドで処理
                promise.then((response) => {
                    return response.json();
                })
                .then(function (json) {
                    for (var i = 0; i < json.length; i++) {
                        var lecture_name = lecture_names[json[i].lecture_number]
                        var first = json[i].first;
                        var second = json[i].second;
                        var third = json[i].third;
                        var fourth = json[i].fourth;
                        var fifth = json[i].fifth;
                        var sixth = json[i].sixth;
                        var seventh = json[i].seventh;
                        var eighth = json[i].eighth;
                        var ninth = json[i].ninth;
                        var tenth = json[i].tenth;
                        var eleventh = json[i].eleventh;
                        var twelfth = json[i].twelfth;
                        var thirteenth = json[i].thirteenth;
                        var fourteenth = json[i].fourteenth;
                        var fifteenth = json[i].fifteenth;
                        //表形式でデータを表示する
                        var row = document.getElementById('at-list-hedder').insertRow();
                        row.insertCell().textContent = lecture_name;
                        row.insertCell().textContent = first;
                        row.insertCell().textContent = second;
                        row.insertCell().textContent = third;
                        row.insertCell().textContent = fourth;
                        row.insertCell().textContent = fifth;
                        row.insertCell().textContent = sixth;
                        row.insertCell().textContent = seventh;
                        row.insertCell().textContent = eighth;
                        row.insertCell().textContent = ninth;
                        row.insertCell().textContent = tenth;
                        row.insertCell().textContent = eleventh;
                        row.insertCell().textContent = twelfth;
                        row.insertCell().textContent = thirteenth;
                        row.insertCell().textContent = fourteenth;
                        row.insertCell().textContent = fifteenth;
                    }
                });
            }
            setURL()
            fetchUser()
            getAttendances()
        </script> 
    </body>
</html>
