<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8" />
     <meta http-equiv="content-type" content="text/html charset=UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <link rel="stylesheet" type="text/css" href="./index.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		 <title>登録完了</title>
    </head>
    <body>
        <div class="header">
            <a href="./QRread" id="back"><div class="backBtn"></div></a>
            <a href="./home" id="home"><div class="homeBtn"></div></a>
            <div class="logo"></div>
          </div>  
          <div class="namePlate">
            <div id="major" class="major"></div>
            <div id="grade" class="grade"></div>
            <div id="number" class="number"></div>
            <div id="name" class="name"></div>
          </div>
          <div class="check" >
            <!-- <span class="innerHome" id="ATcheck">
            </span> -->
            <div id="kname"></div>
            <div id="times"></div>
            <div id="attendance_status"></div>
            <div>出席登録完了</div>
          </div>
        <div class="footer"></div>
    </body>
    <script>
        function outputAttendance(){
            const lecture_name = location.search.split('=')[2];
            const count = location.search.split('=')[3];
            const attendance_status = location.search.split('=')[3];
            console.log(lecture_name, count, attendance_status)
            const kname=document.getElementById('kname');
            const times=document.getElementById('times');
            const as_place=document.getElementById('attendance_status');
            kname.innerText = lecture_name;
            times.innerText = count+"回";
            as_place.innerText = attendance_status;
        }

        async function fetchAsync(){
            const id = location.search.split('=')[1];
            console.log(id)
            const user_url = 'http://localhost:1323/users/' + id[1]; //usersのJSON
            const response = await fetch(user_url);
            const json = await response.json();
            // url情報保持
            // divのid取得
            const major=document.getElementById('major');
            const grade=document.getElementById('grade');
            const number=document.getElementById('number');
            const name=document.getElementById('name');
            //loginした人のデータ表示
            console.log(user_url, json)
            major.innerText = json.major;
            grade.innerText = json.grade+"年";
            number.innerText = "学籍番号:"+json.user_id;
            name.innerText = json.name;
            //出席確認ページにデータ送付
            const url3= document.getElementById("home");
            url3.href="./home?id="+id; 
            //homeurlにデータ付与
            const home2 = document.getElementById("back");
            home2.href="./QRread?id="+id;
        }
                
        fetchAsync()
        outputAttendance()
    </script>
</html>
