<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./index.css">
		<title>ホーム画面</title>
  </head>
    <div class="header">
      <a href="./login"><div class="backBtn"></div></a>
      <a href="./home" id="home"><div class="homeBtn"></div></a>
      <div class="logo"></div>
    </div>  
    <div class="namePlate">
      <div id="major" class="major"></div>
      <div id="grade" class="grade"></div>
      <div id="number" class="number"></div>
      <div id="name" class="name"></div>
    </div>
    <a href="./QRread" class="QRreadBtn" id="QRurl">
	    <span class="innerHome">QR読み取り画面</span>
    </a>
    <a href="./attend" class="attendBtn" id="ATurl">
		  <span class="innerHome">出欠確認画面</span>
    </a>
    <div class="footer"></div>
  <script>
    async function fetchAsync(){
      const id = location.search.split('=')[1];
      console.log(id)
      const user_url = 'http://localhost:1323/users/' + id[1]; //usersのJSON
      const response = await fetch(user_url);
      const json = await response.json();
      // url情報保持
      // divのid取得
      const major=document.getElementById('major');
      const grade=document.getElementById('grade');
      const number=document.getElementById('number');
      const name=document.getElementById('name');
      //loginした人のデータ表示
      console.log(user_url, json)
      major.innerText = json.major;
      grade.innerText = json.grade+"年";
      number.innerText = "学籍番号:"+json.user_id;
      name.innerText = json.name;
      //ログインurlにデータ付与
      const url = document.getElementById("QRurl");
      url.href="./QRread?id="+id; 
      //出席確認ページにデータ送付
      const url2= document.getElementById("ATurl");
      url2.href="./attend?id="+id; 
      const url3= document.getElementById("home");
      url3.href="./home?id="+id; 
    }
    
    fetchAsync()
  </script>
  </body>
</html>
